@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  @apply bg-[#f1f1f1];
}
.form-container {
  @apply w-[350px] h-[500px] bg-white shadow-[rgba(0,0,0,0.35)_0px_5px_15px] box-border px-8 py-5 rounded-[10px];
}
.title {
  @apply text-center text-2xl font-extrabold mt-2.5 mb-8 mx-0;
}
.form {
  @apply w-full flex flex-col gap-5 mb-4;
}
.input {
  @apply border box-border px-4 py-3 rounded-[20px] border-solid border-[#c0c0c0];
  outline: 0 !important;
}
.page-link {
  @apply underline text-end text-[#747474] decoration-[#747474] m-0;
}
.page-link-label {
  @apply cursor-pointer text-[9px] font-bold hover:text-black;
}
.form-btn {
  @apply text-[white] cursor-pointer shadow-[rgba(0,0,0,0.24)_0px_3px_8px] px-[15px] py-2.5 rounded-[20px] border-0 active:shadow-none;
  outline: 0 !important;
  background: teal;
}
.sign-up-label {
  @apply text-[10px] text-[#747474] m-0;
}
.sign-up-link {
  @apply text-[11px] underline decoration-[teal] text-[teal] cursor-pointer font-extrabold ml-px;
}
.buttons-container {
  @apply w-full flex flex-col justify-start gap-[15px] mt-5;
}
.apple-login-button,
.google-login-button {
  @apply box-border shadow-[rgba(0,0,0,0.16)_0px_10px_36px_0px,rgba(0,0,0,0.06)_0px_0px_0px_1px] cursor-pointer flex justify-center items-center text-[11px] gap-[5px] px-[15px] py-2.5 rounded-[20px];
}
.apple-login-button {
  @apply bg-black text-white border-2 border-solid border-black;
}
.google-login-button {
  @apply border-2 border-solid border-[#747474];
}
.apple-icon,
.google-icon {
  @apply text-lg mb-px;
}

.sidenavbar-main .navbar_main ul .nav-item {
  @apply shadow-none;
}

.name {
  @apply font-Inter font-semibold text-sm text-11175D;
}

.cardscrool::-webkit-scrollbar {
  width: 10px;
  @apply w-2;
}

/* Track */
.cardscrool::-webkit-scrollbar-track {
  @apply bg-[#f1f1f1] rounded-xl;
}

/* Handle */
.cardscrool::-webkit-scrollbar-thumb {
  @apply bg-brand rounded-xl;
}

/* Handle on hover */
.cardscrool::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.sidebar-wraper .sidebar-arrow {
  @apply hidden;
}
